<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tech_Connect.My.MySettings.group22TechConnect" connectionString="Data Source=146.230.177.46\ist3;Initial Catalog=group22;User ID=group22;Password=n08mc"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>